My Notebook

Introduction to my notebook

list of Data science languages
Python
R
Julia
SQL
Javascript
Scala

List of data science libraries
Numpy
pytorch
Keras
Scikit-Learn
Tensorflow
seaborn
pillow

Data science tools
|tools|tools|
|-----|-----|
|jupiter|R studio|
|Apache Spark|MySQL|
|python|SPSS|

Examples of Arithmetic expression

In [2]:
2+2

4

In [3]:
2*2

4

In [5]:
minutes= 380
hrs= int(minutes/60)
remaining = minutes % 60

Objectives
1.Learn the techniques of data science
2.How to apply data science to businesses
3. Solving problems with data science

Author
Rabiat Sanni